<div class="container mt-5">
    <form #form="ngForm" (ngSubmit)="calcular(form)">

        <div class="form-group">
            <div class="row">
                <div class="col-8">
                    <label for="propietario">Propietario</label>
                    <input [(ngModel)]="propietario"
                        [ngClass]="{'is-invalid': form.submitted && form.controls['propietario'] && form.controls['propietario'].errors}"
                        required type="text" class="form-control" id="propietario" name="propietario"
                        placeholder="Propietario">
                </div>
                <div class="col-4">
                    <label for="tarifa">Tarifa</label>

                    <select [(ngModel)]="tarifa"
                        [ngClass]="{'is-invalid': form.submitted && form.controls['tarifa'].errors}" required
                        name="tarifa" class="form-control">
                        <option *ngFor="let tarifa of tarifas" [value]="tarifa.tarifa">{{tarifa.tarifa}}</option>
                    </select>
                    <div *ngIf="form.submitted && form.controls['tarifa'].errors" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-4">
                    <label for="p1">P1</label>
                    <div class="input-group">
                        <input [(ngModel)]="p1"
                            [ngClass]="{'is-invalid': form.submitted && form.controls['p1'] && form.controls['p1'].errors}"
                            number required type="number" class="form-control" id="p1" name="p1" placeholder="(P1)">
                        <div class="input-group-prepend">
                            <div class="input-group-text">ekW</div>
                        </div>
                        <div *ngIf="form.submitted && form.controls['p1'] && form.controls['p1'].errors"
                            class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <label for="p2">P2</label>
                    <div class="input-group">
                        <input [(ngModel)]="p2"
                            [ngClass]="{'is-invalid': form.submitted && form.controls['p2'] && form.controls['p2'].errors}"
                            number required type="number" class="form-control" id="p2" name="p2" placeholder="(P2)">
                        <div class="input-group-prepend">
                            <div class="input-group-text">ekW</div>
                        </div>
                        <div *ngIf="form.submitted && form.controls['p2'] && form.controls['p2'].errors"
                            class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <label for="p3">P3</label>
                    <div class="input-group">
                        <input [(ngModel)]="p3"
                            [ngClass]="{'is-invalid': form.submitted && form.controls['p3'] && form.controls['p3'].errors}"
                            number required type="number" class="form-control" id="p3" name="p3" placeholder="(P3)">
                        <div class="input-group-prepend">
                            <div class="input-group-text">ekW</div>
                        </div>
                        <div *ngIf="form.submitted && form.controls['p3'] && form.controls['p3'].errors"
                            class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-4">
                    <label for="precioP1">Precio P1</label>
                    <div class="input-group">
                        <input [(ngModel)]="precioP1" number type="number" class="form-control" id="precioP1"
                            name="precioP1" placeholder="Precio P1">
                        <div class="input-group-prepend">
                            <div class="input-group-text">€</div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <label for="precioP2">Precio P2</label>
                    <div class="input-group">
                        <input [(ngModel)]="precioP2" number type="number" class="form-control" id="precioP2"
                            name="precioP2" placeholder="Precio P2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">€</div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <label for="precioP3">Precio P3</label>
                    <div class="input-group">
                        <input [(ngModel)]="precioP3" number type="number" class="form-control" id="precioP3"
                            name="precioP3" placeholder="Precio P3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">€</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <label for="impuestoElectrico">Precio P1</label>
                    <div class="input-group">
                        <input [(ngModel)]="impuestoElectrico" number type="number" class="form-control"
                            id="impuestoElectrico" name="impuestoElectrico" placeholder="Impuesto Eléctrico">
                        <div class="input-group-prepend">
                            <div class="input-group-text">%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th>Nombre Archivo Adjunto</th>
                                <th>
                                    <button *ngIf="archivos.length > 0" (click)="eliminarArchivos()"
                                        class="btn btn-danger btn-sm btn-block">Eliminar Todos</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let archivo of archivos">
                                <td [ngClass]="{'text-green': archivo.progreso >= 100}">
                                    {{ archivo.nombreArchivo }}</td>
                                <td>
                                    <button (click)="eliminarArchivo(archivo)"
                                        class="btn btn-danger btn-sm btn-block">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <label>Adjuntar archivo</label>
                    <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event"
                        [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
                        <label class="inputFile" for="cajaEjemplo">Arrastre sus archivos o pulse aquí para
                            adjuntar archivos</label>
                        <input class="inputFile" id="cajaEjemplo" type="file" (change)="cargarFichero($event)">
                    </div>
                </div>
            </div>
        </div>


        <br>
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Calcular</button>

    </form>
</div>