<div class="container mt-5">
    <form #form="ngForm" (ngSubmit)="calcular(form)">

        <div class="form-group">
            <div class="row">
                <div class="col-8">
                    <label for="propietario">Propietario</label>
                    <input [(ngModel)]="propietario"
                        [ngClass]="{'is-invalid': form.submitted && form.controls['propietario'] && form.controls['propietario'].errors}"
                        required type="text" class="form-control" id="propietario" name="propietario"
                        placeholder="Propietario">
                </div>
                <div class="col-4">
                    <label for="tarifa">Tarifa</label>
                    <select [(ngModel)]="tarifa" (change)="cambioTarifa()"
                        [ngClass]="{'is-invalid': form.submitted && form.controls['tarifa'].errors}" required
                        name="tarifa" class="form-control">
                        <option *ngFor="let tarifa of tarifas" [value]="tarifa.tarifa">{{tarifa.tarifa}}</option>
                    </select>
                    <div *ngIf="form.submitted && form.controls['tarifa'].errors" class="invalid-feedback">
                        Este campo es obligatorio
                    </div>
                </div>
            </div>
        </div>


        <div class="form-check-inline">
            <input (ngModelChange)="compararPrecios()" [(ngModel)]="comparadorPrecios" type="checkbox"
                class="form-check-input" name="comparadorPrecios">
            <label class="form-check-label">Comparador de precios</label>
        </div>

        <br>

        <h4 class="text-center">Potencia Tarifa Actual</h4>
        <div class="card border-primary">

            <div class="form-group card-body">
                <div class="row">

                    <div class="col-4">
                        <label for="p1Calculos">P1 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="p1"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p1'] && form.controls['p1'].errors}"
                                number required type="number" class="form-control" id="p1" name="p1" placeholder="(P1)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p1'] && form.controls['p1'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA' && tarifa != '2.0DHS'">
                        <label for="p2">P2 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="p2"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p2'] && form.controls['p2'].errors}"
                                number required type="number" class="form-control" id="p2" name="p2" placeholder="(P2)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p2'] && form.controls['p2'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA' && tarifa != '2.0DHS'">
                        <label for="p3">P3 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="p3"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p3'] && form.controls['p3'].errors}"
                                number required type="number" class="form-control" id="p3" name="p3" placeholder="(P3)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p3'] && form.controls['p3'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group card-body"
                *ngIf="tarifa == '6.1A' || tarifa == '6.2' || tarifa == '6.3' || tarifa == '6.4' || tarifa == '6.5'">
                <div class="row">

                    <div class="col-4">
                        <label for="p4">P4 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="p4"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p4'] && form.controls['p4'].errors}"
                                number required type="number" class="form-control" id="p4" name="p4" placeholder="(P4)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p4'] && form.controls['p4'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="p5">P5 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="p5"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p5'] && form.controls['p5'].errors}"
                                number required type="number" class="form-control" id="p5" name="p5" placeholder="(P5)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p5'] && form.controls['p5'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="p6">P6 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="p6"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p6'] && form.controls['p6'].errors}"
                                number required type="number" class="form-control" id="p6" name="p6" placeholder="(P6)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p6'] && form.controls['p6'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <br><br>

        <div class="form-check-inline">
            <label class="form-check-label">
                <input [(ngModel)]="calculoAutomatico" disabled="{{comparadorPrecios}}" value="si" type="radio" class="form-check-input"
                    name="tipoCalculo">Automático
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input [(ngModel)]="calculoAutomatico" disabled="{{comparadorPrecios}}" value="no" type="radio" class="form-check-input"
                    name="tipoCalculo">Manual
            </label>
        </div>

        <br *ngIf="calculoAutomatico == 'no'">
        <br *ngIf="calculoAutomatico == 'no'">

        <h4 class="text-center mt-1" *ngIf="calculoAutomatico == 'no'">Potencia Tarifa Optimizada</h4>
        <div class="card border-success" *ngIf="calculoAutomatico == 'no'">

            <div class="form-group card-body">
                <div class="row">

                    <div class="col-4">
                        <label for="p1Calculos">P1 Tarifa Calculada</label>
                        <div class="input-group">
                            <input [(ngModel)]="p1Calculos"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p1Calculos'] && form.controls['p1Calculos'].errors}"
                                number required type="number" class="form-control" id="p1Calculos" name="p1Calculos"
                                placeholder="(P1)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p1Calculos'] && form.controls['p1Calculos'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA' && tarifa != '2.0DHS'">
                        <label for="p2Calculos">P2 Tarifa Calculada</label>
                        <div class="input-group">
                            <input [(ngModel)]="p2Calculos"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p2Calculos'] && form.controls['p2Calculos'].errors}"
                                number required type="number" class="form-control" id="p2Calculos" name="p2Calculos"
                                placeholder="(P2)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p2Calculos'] && form.controls['p2Calculos'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA' && tarifa != '2.0DHS'">
                        <label for="p3Calculos">P3 Tarifa Calculada</label>
                        <div class="input-group">
                            <input [(ngModel)]="p3Calculos"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p3Calculos'] && form.controls['p3Calculos'].errors}"
                                number required type="number" class="form-control" id="p3Calculos" name="p3Calculos"
                                placeholder="(P3)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p3Calculos'] && form.controls['p3Calculos'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group card-body"
                *ngIf="tarifa == '6.1A' || tarifa == '6.2' || tarifa == '6.3' || tarifa == '6.4' || tarifa == '6.5'">
                <div class="row">

                    <div class="col-4">
                        <label for="p4Calculos">P4 Tarifa Calculada</label>
                        <div class="input-group">
                            <input [(ngModel)]="p4Calculos"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p4Calculos'] && form.controls['p4Calculos'].errors}"
                                number required type="number" class="form-control" id="p4Calculos" name="p4Calculos"
                                placeholder="(P4)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p4Calculos'] && form.controls['p4Calculos'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="p5Calculos">P5 Tarifa Calculada</label>
                        <div class="input-group">
                            <input [(ngModel)]="p5Calculos"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p5Calculos'] && form.controls['p5Calculos'].errors}"
                                number required type="number" class="form-control" id="p5Calculos" name="p5Calculos"
                                placeholder="(P5)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p5Calculos'] && form.controls['p5Calculos'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="p6Calculos">P6 Tarifa Calculada</label>
                        <div class="input-group">
                            <input [(ngModel)]="p6Calculos"
                                [ngClass]="{'is-invalid': form.submitted && form.controls['p6Calculos'] && form.controls['p6Calculos'].errors}"
                                number required type="number" class="form-control" id="p6Calculos" name="p6Calculos"
                                placeholder="(P6)">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ekW</div>
                            </div>
                            <div *ngIf="form.submitted && form.controls['p6Calculos'] && form.controls['p6Calculos'].errors"
                                class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <br><br>

        <h4 class="text-center mt-1">Precio Potencia Tarifa Actual</h4>
        <div class="card border-danger">

            <div class="form-group card-body">
                <div class="row">

                    <div class="col-4">
                        <label for="precioP1">Precio P1 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="precioP1" number type="number" class="form-control" id="precioP1"
                                name="precioP1" placeholder="Precio P1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA' && tarifa != '2.0DHS'">
                        <label for="precioP2">Precio P2 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="precioP2" number type="number" class="form-control" id="precioP2"
                                name="precioP2" placeholder="Precio P2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA' && tarifa != '2.0DHS'">
                        <label for="precioP3">Precio P3 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="precioP3" number type="number" class="form-control" id="precioP3"
                                name="precioP3" placeholder="Precio P3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group card-body"
                *ngIf="tarifa == '6.1A' || tarifa == '6.2' || tarifa == '6.3' || tarifa == '6.4' || tarifa == '6.5'">
                <div class="row">

                    <div class="col-4">
                        <label for="precioP4">Precio P4 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="precioP4" number type="number" class="form-control" id="precioP4"
                                name="precioP4" placeholder="Precio P4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="precioP5">Precio P5 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="precioP5" number type="number" class="form-control" id="precioP5"
                                name="precioP5" placeholder="Precio P5">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="precioP6">Precio P6 Tarifa Actual</label>
                        <div class="input-group">
                            <input [(ngModel)]="precioP6" number type="number" class="form-control" id="precioP6"
                                name="precioP6" placeholder="Precio P6">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <br><br>

        <h4 class="text-center mt-1">Precio Potencia Tarifa Optimizada</h4>
        <div class="card border-danger">

            <div class="form-group card-body">
                <div class="row">

                    <div class="col-4">
                        <label for="precioP1">Precio P1 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required="{{comparadorPrecios}}" [(ngModel)]="precioP1opt" number type="number"
                                class="form-control" name="precioP1opt" placeholder="Precio P1 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA' && tarifa != '2.0DHS'">
                        <label for="precioP2">Precio P2 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required="{{comparadorPrecios}}" [(ngModel)]="precioP2opt" number type="number"
                                class="form-control" name="precioP2opt" placeholder="Precio P2 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA' && tarifa != '2.0DHS'">
                        <label for="precioP3">Precio P3 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required="{{comparadorPrecios}}" [(ngModel)]="precioP3opt" number type="number"
                                class="form-control" name="precioP3opt" placeholder="Precio P3 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group card-body"
                *ngIf="tarifa == '6.1A' || tarifa == '6.2' || tarifa == '6.3' || tarifa == '6.4' || tarifa == '6.5'">
                <div class="row">

                    <div class="col-4">
                        <label for="precioP4">Precio P4 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required="{{comparadorPrecios}}" [(ngModel)]="precioP4opt" number type="number"
                                class="form-control" name="precioP4opt" placeholder="Precio P4 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="precioP5">Precio P5 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required="{{comparadorPrecios}}" [(ngModel)]="precioP5opt" number type="number"
                                class="form-control" name="precioP5opt" placeholder="Precio P5 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="precioP6">Precio P6 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required="{{comparadorPrecios}}" [(ngModel)]="precioP6opt" number type="number"
                                class="form-control" name="precioP6opt" placeholder="Precio P6 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <br><br>

        <h4 class="text-center mt-1">Precio Energía Tarifa Actual</h4>
        <div class="card border-warning">

            <div class="form-group card-body">
                <div class="row">

                    <div class="col-4">
                        <label for="precioE1Actual">Precio E1 Tarifa Actual</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE1Actual" number type="number" class="form-control"
                                id="precioE1Actual" name="precioE1Actual" placeholder="Precio E1 Actual">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA'">
                        <label for="precioE2Actual">Precio E2 Tarifa Actual</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE2Actual" number type="number" class="form-control"
                                id="precioE2Actual" name="precioE2Actual" placeholder="Precio E2 Actual">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A'">
                        <label for="precioE3Actual">Precio E3 Tarifa Actual</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE3Actual" number type="number" class="form-control"
                                id="precioE3Actual" name="precioE3Actual" placeholder="Precio E3 Actual">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group card-body"
                *ngIf="tarifa == '6.1A' || tarifa == '6.2' || tarifa == '6.3' || tarifa == '6.4' || tarifa == '6.5'">
                <div class="row">

                    <div class="col-4">
                        <label for="precioE4Actual">Precio E4 Tarifa Actual</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE4Actual" number type="number" class="form-control"
                                id="precioE4Actual" name="precioE4Actual" placeholder="Precio E4 Actual">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="precioE5Actual">Precio E5 Tarifa Actual</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE5Actual" number type="number" class="form-control"
                                id="precioE5Actual" name="precioE5Actual" placeholder="Precio E5 Actual">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="precioE6Actual">Precio E6 Tarifa Actual</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE6Actual" number type="number" class="form-control"
                                id="precioE6Actual" name="precioE6Actual" placeholder="Precio E6 Actual">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <br><br>

        <h4 class="text-center mt-1">Precio Energía Tarifa Optimizada</h4>
        <div class="card border-primary">

            <div class="form-group card-body">
                <div class="row">

                    <div class="col-4">
                        <label for="precioE1Optimizada">Precio E1 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE1Optimizada" number type="number" class="form-control"
                                id="precioE1Optimizada" name="precioE1Optimizada" placeholder="Precio E1 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A' && tarifa != '2.0DHA'">
                        <label for="precioE2Optimizada">Precio E2 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE2Optimizada" number type="number" class="form-control"
                                id="precioE2Optimizada" name="precioE2Optimizada" placeholder="Precio E2 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="tarifa != '2.0A'">
                        <label for="precioE3Optimizada">Precio E3 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE3Optimizada" number type="number" class="form-control"
                                id="precioE3Optimizada" name="precioE3Optimizada" placeholder="Precio E3 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group card-body"
                *ngIf="tarifa == '6.1A' || tarifa == '6.2' || tarifa == '6.3' || tarifa == '6.4' || tarifa == '6.5'">
                <div class="row">

                    <div class="col-4">
                        <label for="precioE4Optimizada">Precio E4 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE4Optimizada" number type="number" class="form-control"
                                id="precioE4Optimizada" name="precioE4Optimizada" placeholder="Precio E4 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="precioE5Optimizada">Precio E5 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE5Optimizada" number type="number" class="form-control"
                                id="precioE5Optimizada" name="precioE5Optimizada" placeholder="Precio E5 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="precioE6Optimizada">Precio E6 Tarifa Optimizada</label>
                        <div class="input-group">
                            <input required [(ngModel)]="precioE6Optimizada" number type="number" class="form-control"
                                id="precioE6Optimizada" name="precioE6Optimizada" placeholder="Precio E6 Optimizada">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <br><br>

        <h4 class="text-center">Impuestos y Descuentos</h4>
        <div class="card border-info">

            <div class="form-group card-body">
                <div class="row">
                    <div class="col-4">
                        <label for="impuestoElectrico">Impuesto Eléctrico</label>
                        <div class="input-group">
                            <input required [(ngModel)]="impuestoElectrico" number type="number" class="form-control"
                                id="impuestoElectrico" name="impuestoElectrico" placeholder="Impuesto Eléctrico">
                            <div class="input-group-prepend">
                                <div class="input-group-text">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="descuentoPotencia">Descuento Potencia</label>
                        <div class="input-group">
                            <input required [(ngModel)]="descuentoPotencia" number type="number" class="form-control"
                                id="descuentoPotencia" name="descuentoPotencia" placeholder="Descuento Potencia">
                            <div class="input-group-prepend">
                                <div class="input-group-text">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="descuentoEnergia">Descuento Energía</label>
                        <div class="input-group">
                            <input required [(ngModel)]="descuentoEnergia" number type="number" class="form-control"
                                id="descuentoEnergia" name="descuentoEnergia" placeholder="Descuento Energía">
                            <div class="input-group-prepend">
                                <div class="input-group-text">%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br><br>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th>Nombre Archivo Adjunto</th>
                                <th>
                                    <button *ngIf="archivos.length > 0" (click)="eliminarArchivos()"
                                        class="btn btn-danger btn-sm btn-block">Eliminar Todos</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let archivo of archivos">
                                <td [ngClass]="{'text-green': archivo.progreso >= 100}">
                                    {{ archivo.nombreArchivo }}</td>
                                <td>
                                    <button (click)="eliminarArchivo(archivo)"
                                        class="btn btn-danger btn-sm btn-block">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <label>Adjuntar archivo</label>
                    <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event"
                        [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
                        <label class="inputFile" for="cajaEjemplo">Arrastre sus archivos o pulse aquí para
                            adjuntar archivos</label>
                        <input class="inputFile" id="cajaEjemplo" type="file" (change)="cargarFichero($event)">
                    </div>
                </div>
            </div>
        </div>

        <br>

        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Calcular</button>

    </form>

    <br>
    <h4 class="text-center">Consultas previas</h4>

    <table class="table table-striped table-dark text-center">
        <thead>
            <tr>
                <th scope="col">Propietario</th>
                <th scope="col">Tarifa</th>
                <th scope="col">CUPS</th>
                <th scope="col">Fecha consulta</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of historico; let i = index">
                <td>{{res.propietario}}</td>
                <td>{{res.tarifa}}</td>
                <td>{{res.cups}}</td>
                <td>{{res.fecha_alta | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td><button (click)="cargar(i)" class="btn btn-success">Cargar</button></td>
                <td><button (click)="borrarRegistro(res.fecha_alta)" class="btn btn-danger">Borrar</button></td>
            </tr>
        </tbody>
    </table>
</div>