<div #todo id="todo" class="mt-lg-5" style="width: 80%;margin-left: 10%;">

    <a href="#" (click)="exportarPDF($event)" class="btn btn-sm btn-primary">Exportar PDF</a>

    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-5">{{formulario.propietario}}</h1>
            <h3 class="text-center">Tarifa {{formulario.tarifa}}</h3>
        </div>
    </div>

    <br><br>

    <h3 class="text-center">POTENCIA</h3>

    <hr class="bg-dark">

    <div class="row" *ngIf="costeTotalPotencia.length > 1">
        <div class="col-12 text-center">
            <!-- TABLA DE POTENCIAS 3.X -->
            <table class="table table-striped table-dark text-center" *ngIf="formulario.tarifa != '6.1A' && formulario.tarifa != '6.2' 
            && formulario.tarifa != '6.3' && formulario.tarifa != '6.4' && formulario.tarifa != '6.5'">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">P1</th>
                        <th scope="col">P2</th>
                        <th scope="col">P3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Actual</td>
                        <td>{{datos[1].data[0].potencia1}}</td>
                        <td>{{datos[1].data[0].potencia2}}</td>
                        <td>{{datos[1].data[0].potencia3}}</td>
                    </tr>
                    <tr>
                        <td>Optimizada</td>
                        <td>{{datos[0].data[0].potencia1}}</td>
                        <td>{{datos[0].data[0].potencia2}}</td>
                        <td>{{datos[0].data[0].potencia3}}</td>
                    </tr>
                    <tr>
                        <td>Recomendada</td>
                        <td>{{datos[0].data[0].potRecom1}}</td>
                        <td>{{datos[0].data[0].potRecom2}}</td>
                        <td>{{datos[0].data[0].potRecom3}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- TABLA DE POTENCIAS 6.X -->
            <table class="table table-striped table-dark text-center" *ngIf="formulario.tarifa == '6.1A' || formulario.tarifa == '6.2' 
                || formulario.tarifa == '6.3' || formulario.tarifa == '6.4' || formulario.tarifa == '6.5'">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">P1</th>
                        <th scope="col">P2</th>
                        <th scope="col">P3</th>
                        <th scope="col">P4</th>
                        <th scope="col">P5</th>
                        <th scope="col">P6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Actual</td>
                        <td>{{datos[1].data[0].potencia1}}</td>
                        <td>{{datos[1].data[0].potencia2}}</td>
                        <td>{{datos[1].data[0].potencia3}}</td>
                        <td>{{datos[1].data[0].potencia4}}</td>
                        <td>{{datos[1].data[0].potencia5}}</td>
                        <td>{{datos[1].data[0].potencia6}}</td>
                    </tr>
                    <tr>
                        <td>Optimizada</td>
                        <td>{{datos[0].data[0].potencia1}}</td>
                        <td>{{datos[0].data[0].potencia2}}</td>
                        <td>{{datos[0].data[0].potencia3}}</td>
                        <td>{{datos[0].data[0].potencia4}}</td>
                        <td>{{datos[0].data[0].potencia5}}</td>
                        <td>{{datos[0].data[0].potencia6}}</td>
                    </tr>
                    <tr>
                        <td>Recomendada</td>
                        <td>{{datos[0].data[0].potRecom1}}</td>
                        <td>{{datos[0].data[0].potRecom2}}</td>
                        <td>{{datos[0].data[0].potRecom3}}</td>
                        <td>{{datos[0].data[0].potRecom4}}</td>
                        <td>{{datos[0].data[0].potRecom5}}</td>
                        <td>{{datos[0].data[0].potRecom6}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- PARTE DEL CÁLCULO 3.X -->
    <div id="calculos" class="row text-center" *ngIf="costeTotalPotencia.length > 1">

        <select #tipoGraf1 name="tipoGraf1" class="form-control mt-5">
            <option *ngFor="let tipo of tiposChart" [value]="tipo.valor" [defaultSelected]="tipo.default">
                {{tipo.nombre}}</option>
        </select>

        <div class="col-12">
            <app-grafico *ngIf="costeTotalPotencia.length > 1" [barChartType]="tipoGraf1.value"
                [barChartData]="costeTotalPotencia" [barChartLabels]="labelsPotencia" [barChartOptions]="optGrafPerPot">
            </app-grafico>
            <br>
            <a href="#" (click)="exportarGrafico($event, 0)" class="btn btn-sm btn-primary">Exportar gráfico</a>
        </div>

        <br>
        <br>

        <select #tipoGraf2 name="tipoGraf2" class="form-control mt-5">
            <option *ngFor="let tipo of tiposChart" [value]="tipo.valor" [defaultSelected]="tipo.default">
                {{tipo.nombre}}</option>
        </select>

        <div class="col-12">
            <app-grafico *ngIf="costeTotalPotencia.length > 1" [barChartType]="tipoGraf2.value"
                [barChartData]="calculoTotalPotencia" [barChartLabels]="labelsTotalPotencia"
                [barChartOptions]="optGrafTotalPot">
            </app-grafico>
            <br>
            <a href="#" (click)="exportarGrafico($event, 1)" class="btn btn-sm btn-primary">Exportar gráfico</a>
        </div>
    </div>

    <br><br><br><br>

    <h3 class="text-center">ENERGÍA</h3>

    <hr class="bg-dark">

    <div class="row text-center" *ngIf="costeTotalPotencia.length > 1">
        <table class="table table-striped table-dark text-center" *ngIf="formulario.tarifa != '6.1A' && formulario.tarifa != '6.2' 
            && formulario.tarifa != '6.3' && formulario.tarifa != '6.4' && formulario.tarifa != '6.5'">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">E1</th>
                    <th scope="col">E2</th>
                    <th scope="col">E3</th>
                </tr>
            </thead>
            <tbody *ngIf="!formulario.comparadorPrecios">
                <tr>
                    <td>Actual</td>
                    <td>{{datos[2].data[0].precioEnergiaActual1}}</td>
                    <td>{{datos[2].data[0].precioEnergiaActual2}}</td>
                    <td>{{datos[2].data[0].precioEnergiaActual3}}</td>
                </tr>
                <tr>
                    <td>Nueva</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo1}}</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo2}}</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo3}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="formulario.comparadorPrecios">
                <tr>
                    <td>Actual</td>
                    <td>{{formulario.precioE1Actual}}</td>
                    <td>{{formulario.precioE2Actual}}</td>
                    <td>{{formulario.precioE3Actual}}</td>
                </tr>
                <tr>
                    <td>Nueva</td>
                    <td>{{formulario.precioE1Optimizada}}</td>
                    <td>{{formulario.precioE2Optimizada}}</td>
                    <td>{{formulario.precioE3Optimizada}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-dark text-center" *ngIf="formulario.tarifa == '6.1A' || formulario.tarifa == '6.2' 
            || formulario.tarifa == '6.3' || formulario.tarifa == '6.4' || formulario.tarifa == '6.5'">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">E1</th>
                    <th scope="col">E2</th>
                    <th scope="col">E3</th>
                    <th scope="col">E4</th>
                    <th scope="col">E5</th>
                    <th scope="col">E6</th>
                </tr>
            </thead>
            <tbody *ngIf="!formulario.comparadorPrecios">
                <tr>
                    <td>Actual</td>
                    <td>{{datos[2].data[0].precioEnergiaActual1}}</td>
                    <td>{{datos[2].data[0].precioEnergiaActual2}}</td>
                    <td>{{datos[2].data[0].precioEnergiaActual3}}</td>
                    <td>{{datos[2].data[0].precioEnergiaActual4}}</td>
                    <td>{{datos[2].data[0].precioEnergiaActual5}}</td>
                    <td>{{datos[2].data[0].precioEnergiaActual6}}</td>
                </tr>
                <tr>
                    <td>Nueva</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo1}}</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo2}}</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo3}}</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo4}}</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo5}}</td>
                    <td>{{datos[2].data[0].precioEnergiaNuevo6}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="formulario.comparadorPrecios">
                <tr>
                    <td>Actual</td>
                    <td>{{formulario.precioE1Actual}}</td>
                    <td>{{formulario.precioE2Actual}}</td>
                    <td>{{formulario.precioE3Actual}}</td>
                    <td>{{formulario.precioE4Actual}}</td>
                    <td>{{formulario.precioE5Actual}}</td>
                    <td>{{formulario.precioE6Actual}}</td>
                </tr>
                <tr>
                    <td>Nueva</td>
                    <td>{{formulario.precioE1Optimizada}}</td>
                    <td>{{formulario.precioE2Optimizada}}</td>
                    <td>{{formulario.precioE3Optimizada}}</td>
                    <td>{{formulario.precioE4Optimizada}}</td>
                    <td>{{formulario.precioE5Optimizada}}</td>
                    <td>{{formulario.precioE6Optimizada}}</td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>

        <select #tipoGraf6 name="tipoGraf6" class="form-control mt-5">
            <option *ngFor="let tipo of tiposChart" [value]="tipo.valor" [defaultSelected]="tipo.default">
                {{tipo.nombre}}</option>
        </select>

        <div class="col-12">
            <app-grafico *ngIf="costeTotalEnergia.length > 1" [barChartType]="tipoGraf6.value"
                [barChartData]="costeTotalEnergia" [barChartLabels]="labelsEnergia" [barChartOptions]="optGrafPerEner">
            </app-grafico>
            <br>
            <a href="#" (click)="exportarGrafico($event, 2)" class="btn btn-sm btn-primary">Exportar gráfico</a>
        </div>

        <br>
        <br>

        <select #tipoGraf7 name="tipoGraf7" class="form-control mt-5">
            <option *ngFor="let tipo of tiposChart" [value]="tipo.valor" [defaultSelected]="tipo.default">
                {{tipo.nombre}}</option>
        </select>

        <div class="col-12">
            <app-grafico *ngIf="calculoTotalEnergia.length > 1" [barChartType]="tipoGraf7.value"
                [barChartData]="calculoTotalEnergia" [barChartLabels]="labelsTotalEnergia"
                [barChartOptions]="optGrafTotalEner">
            </app-grafico>
            <br>
            <a href="#" (click)="exportarGrafico($event, 3)" class="btn btn-sm btn-primary">Exportar gráfico</a>
        </div>

        <br>
        <br>

        <select #tipoGraf10 name="tipoGraf10" class="form-control mt-5">
            <option *ngFor="let tipo of tiposChart" [value]="tipo.valor" [defaultSelected]="tipo.default">
                {{tipo.nombre}}</option>
        </select>

        <div class="col-12">
            <app-grafico *ngIf="sumaTotalPeriodos.length > 1" [barChartType]="tipoGraf10.value"
                [barChartData]="sumaTotalPeriodos" [barChartLabels]="labelsPotencia" [barChartOptions]="optGrafPerPot">
            </app-grafico>
            <br>
            <a href="#" (click)="exportarGrafico($event, 0)" class="btn btn-sm btn-primary">Exportar gráfico</a>
        </div>

        <br>
        <br>

        <select #tipoGraf8 name="tipoGraf8" class="form-control mt-5">
            <option *ngFor="let tipo of tiposChart" [value]="tipo.valor" [defaultSelected]="tipo.default">
                {{tipo.nombre}}</option>
        </select>

        <div class="col-12">
            <app-grafico *ngIf="sumaTotal.length > 1" [barChartType]="tipoGraf8.value" [barChartData]="sumaTotal"
                [barChartLabels]="labelsTotal" [barChartOptions]="optGrafTotal">
            </app-grafico>
            <br>
            <a href="#" (click)="exportarGrafico($event, 5)" class="btn btn-sm btn-primary">Exportar gráfico</a>
        </div>

    </div>

    <br><br><br><br>

    <div class="row">
        <div class="col-12 text-center">
            <img #imagen id="imagen" src="assets/img/logo_nuevo.png">
        </div>
    </div>

</div>